
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}


body {
	font-family: "Lato";
	background-color: antiquewhite;
}

.content {
	margin: 30px auto;
	max-width: 810px;
	background-color: #ffffff;
	padding: 36px 10px 60px;
	box-shadow: 0px 0px 5px 5px #d8d9dd;
	border-radius: 5px;
}
.content-title {
	font-size: 46px;
	font-weight: 900;
	margin-bottom: 92px;
	line-height: 60px;
}
.image {
	margin-bottom: 60px;
}
.image img {
	max-width: 100%;
} 
.content-text-subtitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 24px;
	color: #1E212C;
}
.content-text.item-text {
	font-size: 16px;
	font-weight: 400;
	color: #424551;
	line-height: 26px;
	margin: 0 0 48px 0;
}
.text-one {
	margin: 0px 0px 26px 0px;
}
.content-text.item-subtitle{
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #1E212C;
	margin: 0px 0px 48px 0px;
	padding-left: 58px;
}
.list {
	margin: 0px 0px 24px 0px;
}
.list-text {
	margin: 0px 0px 24px 0px;
}
.list-text p {
	font-size: 16px;
	line-height: 26px;
	color: #424551;
}
.list-item li{
	max-width: 600px;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	margin: 0px 0px 4px 0px;
	padding-left: 32px ;
}
.content-text-item {
	font-size: 16px;
	font-weight: 400;
	color: #424551;
	line-height: 26px;
}
.lesson {
	max-width: 900px;
	margin: 0 auto 20px;
	background-color: #dfdbdb;
	padding: 15px;
	box-shadow: 0px 0px 5px 5px #d8d9dd;
}
.text {
	margin: 0 0 10px 0;
	padding: 5px;
	border: 4px dashed #08e613;
	border-radius: 20px 0 20px 0;
}
.image-photo {
	margin: 0 0 20px 0
}
.image-photo img {
	max-width: 100%;
	border-radius: 15px;
	border-top:  10px solid #e6e208;
	border-right: 10px solid #08e613;
	border-bottom: 15px dotted #e63c08;
	border-left: 15px dotted #e63c08;
	opacity: 0.5;
}
.history {
	font-size: 20px;
	overflow: hidden;
	height: 100px;
	background-color: #e63c08;
	margin-bottom: 30px;
	outline: 10px solid #084577;
}
.history-two {
	font-size: 20px;
	overflow: auto;
	height: 100px;
	background-color: #e63c08;
	border: 10px solid #1E212C;
	margin-bottom: 10px;
}
.sections {
	font-size: 0;
	max-width: 630px;
	margin: 0 auto 20px;
}	
.section {
	display: inline-block;
	margin: 0 15px 0 0;
	font-size: 30px;
	background-color: #08e613;
	padding: 20px;
	font-weight: 700;
}
.info-text {
	overflow: scroll;
	height: 200px;
	text-indent: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	max-width: 400px;
	box-shadow: 0px 0px 5px 5px #084577;
}
.buttons {
	background-color: #084577;
	max-width: 600px;
	padding: 25px;
	margin: 0 auto 25px;
}
.button-square {
	border-radius: 5px;
	width: 100px;
	height: 100px;
	background-color: #084577;
	box-shadow: -2px -2px 7px #ffffff73, 3px 3px 7px #1c1c1c;
	margin-left: 30px;
	display: inline-block;
}
.button-square-two{
	border-radius: 5px;
	width: 100px;
	height: 100px;
	background-color: #084577;
	box-shadow: inset -2px -2px 7px #ffffff73, inset 3px 3px 7px #1c1c1c;
	margin-left: 25px;
	display: inline-block; 
} 
.button-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #084577;
	box-shadow: -2px -2px 7px #ffffff73, 3px 3px 7px #1c1c1c;
	margin-left: 25px;
	display: inline-block;
}
.button-circle-two {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #084577;
	box-shadow: inset -2px -2px 7px #ffffff73, inset 3px 3px 7px #1c1c1c;
	margin:  0 30px;
	display: inline-block;
}
.button-start {
	height: 40px;
	padding: 0 30px;
	background-color: #08e613;
	border-radius: 50px;
	display: inline-block;
	line-height: 35px;
	margin-bottom: 25px;
}
.button-start span {
	color: #084577;
	font-weight: 700;
	font-size: 25px;
}
	



	


	


	




	
	
	 
	
	
	
	
	
	
